<!-- list -->
<div class="navi">
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink]="['/search-version']" routerLinkActive="active">
        <i class="fa fa-2x fa-code-fork icon text-info-dker"></i> Versions
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/pending-list']" routerLinkActive="active">
        <i class="fa fa-2x fa-clock-o icon text-info-dker"></i> Pending list
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/search-team-member']" routerLinkActive="active">
        <i class="fa fa-users fa-2x icon text-info-dker"></i> Team members
      </a>
    </li>
    <li>
      <a routerLink="/controls" routerLinkActive="active">
        <i class="icon-tools text-primary-dker"></i> Controls
      </a>
    </li>
    <li>
      <a routerLink="/fileupload" routerLinkActive="active">
        <i class="icon-tools text-primary-dker"></i> file upload
      </a>
    </li>
    <li>
      <a routerLink="/versionPlan" routerLinkActive="active">
        <i class="icon-tools text-primary-dker"></i> Version Plan
      </a>
    </li>
    <li>
      <a routerLink="/controls" routerLinkActive="active">
        <i class="icon-tools text-primary-dker"></i> Demo controls
      </a>
    </li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-md">
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="icon-tools text-primary-dker"></i> Dashboard
      </a>
    </li>
  </ul>
</div>
<!-- / list -->
